button[mat-icon-button] {
  margin-left: auto; /* empuja el icono al lado derecho del header */
}
/*
.user-card {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d7dde2;
}*/

.user-card-content {
  display: flex;
  justify-content: space-between;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-right: 16px;
}

.avatar-wrapper {
  width: 100px;
  height: 100px;
  border: 3px dotted pink;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}


.user-info-wrapper {
  width: 60%;
}


.user-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.user-position {
  font-weight: 400;
  font-size: 14px;
  color: #27282C;
  opacity: 0.5;
  line-height: 16px;
}

.user-site {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
