<div class="grid-three-cols">
    <mat-card class="card-employees text-center bg-light-secondary">
      <mat-card-content>
        <img alt="users" width="40" class="rounded-circle" src="/assets/images/svgs/nuxt-cat-icon.svg">
        <h4 class="f-s-14 f-w-600 m-t-8 text-secondary">Equipos</h4>
        <h6 class="f-s-21 f-w-600 m-t-8 text-secondary">12</h6>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card-projects text-center bg-light-primary">
      <mat-card-content>
        <img alt="projects" width="40" class="rounded-circle" src="/assets/images/svgs/angular-cat-icon.svg">
        <h4 class="f-s-14 f-w-600 m-t-8 text-success">Jugadores</h4>
        <h6 class="f-s-21 f-w-600 m-t-8 text-success">120</h6>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="card-clients text-center bg-light-secondary">
      <mat-card-content>
        <img alt="clients" width="40" class="rounded-circle" src="/assets/images/svgs/vue-cat-icon.svg">
        <h4 class="f-s-14 f-w-600 m-t-8 text-primary">Fechas</h4>
        <h6 class="f-s-21 f-w-600 m-t-8 text-primary">03</h6>
      </mat-card-content>
    </mat-card>

</div>