<app-breadcrumb [title]="'Partidos'" [items]="breadcrumbItems"></app-breadcrumb>
<mat-card>
    <mat-card-content>
      <div class="d-flex align-items-center justify-content-between gap-3 responsive-row">

        <div class="m-t-12">
            <mat-form-field appearance="outline">
                <mat-label>Seleccionar fecha</mat-label>
                <mat-select value="in">
                    <mat-option value="in">Fecha 1</mat-option>
                    <mat-option value="fr">Fecha 2</mat-option>
                    <mat-option value="af">Fecha 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Followers info -->
        <div class="d-flex align-items-center gap-8">

            <label id="example-radio-group-label" class="f-w-600 d-block f-s-14">Campo</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="favoriteSeason">
            @for(season of seasons; track season) {
            <mat-radio-button class="example-radio-button" color="primary" [value]="season">
            {{ season }}
            </mat-radio-button>
            }
            </mat-radio-group>

        </div>

        <!-- Search bar -->
        <div>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Buscar equipo" />
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
</mat-card>
<app-sin-datos [title]="'Sin partidos programados'"></app-sin-datos>
<!--
<div class="grid-container-middle">
    
    <mat-card>
        <mat-card-content class="text-center">
           
            <div class="d-flex flex-col gap-20"><div>
                <div class="d-flex flex-sm-row flex-col align-items-center justify-content-center gap-8">
                    <span class="bg-warning text-white rounded p-6">
                        FECHA 1 - CAMPO 1 - 10:00 AM
                    </span>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/profile/user-1.jpg" alt="User" width="70" class="rounded" />
                    <div class="m-l-12">
                        <mat-card-title>Burn in hell</mat-card-title>
                    </div>
                    <div class="d-flex align-items-center m-l-12">
                        <span class="d-flex align-items-center bg-light-secondary icon-40 justify-content-center rounded text-secondary">
                            2
                        </span>
                    </div>
                    <div class="d-flex align-items-center m-l-12"> vs </div>
                    <div class="d-flex align-items-center m-l-12">
                        <span class="d-flex align-items-center bg-light-secondary icon-40 justify-content-center rounded text-secondary">
                            1
                        </span>
                    </div>
                    <div class="m-l-12">
                        <mat-card-title>Headbangers FC</mat-card-title>
                    </div>
                    <img src="assets/images/profile/user-2.jpg" alt="User" width="70" class="rounded m-l-12" />
                </div>

                <div class="d-flex flex-sm-row flex-col align-items-center justify-content-center gap-8">
                    <button mat-button (click)="abrirModalDetalle()">
                        <div class="d-flex align-items-center">
                            <mat-icon>remove_red_eye</mat-icon>
                            <span class="m-l-6"> Detalles </span>
                        </div>
                    </button>
                </div>
            </div>

        </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content class="text-center">
           
            <div class="d-flex flex-col gap-20"><div>
                <div class="d-flex flex-sm-row flex-col align-items-center justify-content-center gap-8">
                    <span class="bg-warning text-white rounded p-6">
                        10:00 AM
                    </span>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/images/profile/user-1.jpg" alt="User" width="70" class="rounded" />
                    <div class="m-l-12">
                        <mat-card-title>Alcoholica FC</mat-card-title>
                    </div>
                    <div class="d-flex align-items-center m-l-12">
                        <span class="d-flex align-items-center bg-light-secondary icon-40 justify-content-center rounded text-secondary">
                            -
                        </span>
                    </div>
                    <div class="d-flex align-items-center m-l-12"> vs </div>
                    <div class="d-flex align-items-center m-l-12">
                        <span class="d-flex align-items-center bg-light-secondary icon-40 justify-content-center rounded text-secondary">
                            -
                        </span>
                    </div>
                    <div class="m-l-12">
                        <mat-card-title>Doomstermania</mat-card-title>
                    </div>
                    <img src="assets/images/profile/user-2.jpg" alt="User" width="70" class="rounded m-l-12" />
                </div>

                <div class="d-flex flex-sm-row flex-col align-items-center justify-content-center gap-8">
                    <button mat-button disabled>
                        <div class="d-flex align-items-center">
                            <mat-icon>remove_red_eye</mat-icon>
                            <span class="m-l-6"> Detalles </span>
                        </div>
                    </button>
                </div>
            </div>

        </div>
        </mat-card-content>
    </mat-card>
</div>
-->
