<div>
    <div>
        <button mat-icon-button (click)="toggleMostrar()">
            <mat-icon class="icon-20 text-primary">menu_open</mat-icon>
        </button>
    </div>
    <div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
            <mat-tab label="Detalles">
                <div class="f-s-14 p-16 rounded m-t-12">
                    <app-detalles></app-detalles>
                </div>
            </mat-tab>
            <mat-tab label="Jugadores">
                <div class="f-s-14 p-y-6 rounded m-t-12">
                    <app-jugadores></app-jugadores>
                </div>
            </mat-tab>
            <mat-tab label="Partidos">
                <div class="f-s-14 p-16 rounded m-t-12">
                    <app-partidos></app-partidos>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>