<app-breadcrumb [title]="'Estadisticas'" [items]="breadcrumbItems"></app-breadcrumb>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
    <mat-tab label="Tabla de posiciones">
        <div class="f-s-14 p-16 rounded m-t-12">
            <app-tablaposiciones></app-tablaposiciones>
        </div>
    </mat-tab>
    <mat-tab label="Goleadores">
        <div class="f-s-14 p-16 rounded m-t-12">
            <app-goleadores></app-goleadores>
        </div>
    </mat-tab>
    <mat-tab label="Resumen">
        <div class="f-s-14 p-16 rounded m-t-12">
            <app-resumen></app-resumen>
        </div>
        </mat-tab>
</mat-tab-group>