<!--
<div class="d-flex">
    <div class="flex-30">
        <ng-scrollbar style="height: 67vh">
            <div class="p-r-10">
                <div class="p-20 d-flex align-items-center">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput placeholder="Buscar jugador" />
                    </mat-form-field>
                </div>

                <mat-nav-list>
                    <mat-list-item class="p-y-30">
                        <div class="d-flex align-items-center">
                            <img width="40" alt="user" class="rounded-circle" src="assets/images/profile/user-1.jpg"/>
                            <div class="m-l-16">
                                <h6 class="f-s-14 f-w-600 h-title"> Cristofer Lapadula </h6>
                                <span class="f-s-14 f-s-12"> Alcoholica </span>
                            </div>
                            <div class="d-flex align-items-center m-l-auto">
                                <button mat-icon-button>
                                    <mat-icon class="icon-20 text-error">back_hand</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="p-y-30">
                        <div class="d-flex align-items-center">
                            <img width="40" alt="user" class="rounded-circle" src="assets/images/profile/user-1.jpg"/>
                            <div class="m-l-16">
                                <h6 class="f-s-14 f-w-600 h-title"> Manuel Segura </h6>
                                <span class="f-s-14 f-s-12"> Burn in hell </span>
                            </div>
                            <div class="d-flex align-items-center m-l-auto">
                                <button mat-icon-button>
                                    <mat-icon class="icon-20 text-warning">back_hand</mat-icon>
                                </button>
                                 <button mat-icon-button>
                                    <mat-icon class="icon-20 text-success">sports_soccer</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="p-y-30">
                        <div class="d-flex align-items-center">
                            <img width="40" alt="user" class="rounded-circle" src="assets/images/profile/user-1.jpg"/>
                            <div class="m-l-16">
                                <h6 class="f-s-14 f-w-600 h-title"> Manuel Segura </h6>
                                <span class="f-s-14 f-s-12"> Burn in hell </span>
                            </div>
                            <div class="d-flex align-items-center m-l-auto">
                                <button mat-icon-button>
                                    <mat-icon class="icon-20 text-warning">back_hand</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="p-y-30">
                        <div class="d-flex align-items-center">
                            <img width="40" alt="user" class="rounded-circle" src="assets/images/profile/user-1.jpg"/>
                            <div class="m-l-16">
                                <h6 class="f-s-14 f-w-600 h-title"> Manuel Segura </h6>
                                <span class="f-s-14 f-s-12"> Burn in hell </span>
                            </div>
                            <div class="d-flex align-items-center m-l-auto">
                                <button mat-icon-button>
                                    <mat-icon class="icon-20 text-warning">back_hand</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="p-y-30">
                        <div class="d-flex align-items-center">
                            <img width="40" alt="user" class="rounded-circle" src="assets/images/profile/user-1.jpg"/>
                            <div class="m-l-16">
                                <h6 class="f-s-14 f-w-600 h-title"> Manuel Segura </h6>
                                <span class="f-s-14 f-s-12"> Burn in hell </span>
                            </div>
                            <div class="d-flex align-items-center m-l-auto">
                                <button mat-icon-button>
                                    <mat-icon class="icon-20 text-success">sports_soccer</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="p-y-30">
                        <div class="d-flex align-items-center">
                            <img width="40" alt="user" class="rounded-circle" src="assets/images/profile/user-1.jpg"/>
                            <div class="m-l-16">
                                <h6 class="f-s-14 f-w-600 h-title"> Manuel Segura </h6>
                                <span class="f-s-14 f-s-12"> Burn in hell </span>
                            </div>
                            <div class="d-flex align-items-center m-l-auto">
                                <button mat-icon-button>
                                    <mat-icon class="icon-20 text-warning">back_hand</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="p-y-30">
                        <div class="d-flex align-items-center">
                            <img width="40" alt="user" class="rounded-circle" src="assets/images/profile/user-1.jpg"/>
                            <div class="m-l-16">
                                <h6 class="f-s-14 f-w-600 h-title"> Manuel Segura </h6>
                                <span class="f-s-14 f-s-12"> Burn in hell </span>
                            </div>
                            <div class="d-flex align-items-center m-l-auto">
                                <button mat-icon-button>
                                    <mat-icon class="icon-20 text-warning">back_hand</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="p-y-30">
                        <div class="d-flex align-items-center">
                            <img width="40" alt="user" class="rounded-circle" src="assets/images/profile/user-1.jpg"/>
                            <div class="m-l-16">
                                <h6 class="f-s-14 f-w-600 h-title"> Manuel Segura </h6>
                                <span class="f-s-14 f-s-12"> Burn in hell </span>
                            </div>
                            <div class="d-flex align-items-center m-l-auto">
                                <button mat-icon-button>
                                    <mat-icon class="icon-20 text-warning">back_hand</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-item>

                </mat-nav-list>
            </div>

        </ng-scrollbar>
    </div>
    <div class="flex-70">
        <div class="p-x-24">
            <div class="d-flex align-items-center gap-16">
                <img width="72px" height="72px" class="rounded-circle" src="assets/images/profile/user-4.jpg">
                <div>
                    <h5 class="f-w-600 f-s-16 h-title"> Cristofer Lapadula </h5>
                    <span class="f-w-400 f-s-12"> Alcoholica FC </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 m-t-32">
                    <span class="f-s-12">Historial de tarjetas</span>
                    <h5 class="d-flex align-items-center f-w-600 lh-sm f-s-14 h-title"> 
                        <mat-icon class="text-warning">door_front</mat-icon>
                        <span>05/10/2025 - Alcoholica vs Doomstermania - 2TA </span>
                    </h5>
                    <h5 class="d-flex align-items-center f-w-600 lh-sm f-s-14 h-title"> 
                        <mat-icon class="text-error">door_front</mat-icon>
                        <span>05/10/2025 - Alcoholica vs Doomstermania - 1TA </span>
                    </h5>
                </div>

                <div class="col-lg-6 m-t-32">
                    <span class="f-s-12">Historial de goles</span>
                    <h5 class="d-flex align-items-center f-w-600 lh-sm f-s-14 h-title"> 
                        <mat-icon class="text-success">sports_soccer</mat-icon>
                        <span>05/10/2025 - Alcoholica vs Doomstermania - 1GOL </span>
                    </h5>
                    <h5 class="d-flex align-items-center f-w-600 lh-sm f-s-14 h-title"> 
                        <mat-icon class="text-success">sports_soccer</mat-icon>
                        <span>05/10/2025 - Alcoholica vs Headbangers - 1GOL </span>
                    </h5>
                </div>
            </div>
        </div>
    </div>    
</div>
-->
<app-sin-datos [title]="'Sin resumen'"></app-sin-datos>