.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  .breadcrumb-item {
    font-size: 14px;
    color: #666;

    &.active {
      font-weight: bold;
      color: #333;
    }

    mat-icon {
      font-size: 8px;
      margin: 0 8px;
    }
  }
}
