
html .blue_theme {
    --mat-sys-primary: rgb(93, 135, 255);
    --mat-sys-primary-fixed-dim: rgb(93, 135, 255, .15);
    --mat-sys-secondary: rgb(68, 183, 247);
    --mat-sys-secondary-fixed-dim: rgb(68, 183, 247, .15)
}

html .orange_theme {
    --mat-sys-primary: rgb(250, 137, 107);
    --mat-sys-primary-fixed-dim: rgb(250, 137, 107, .15);
    --mat-sys-secondary: rgb(0, 127, 180);
    --mat-sys-secondary-fixed-dim: rgb(0, 127, 180, .15);
    --mat-sys-error-fixed-dim: rgba(247, 68, 86, .15)
}

html .aqua_theme {
    --mat-sys-primary: rgb(0, 116, 186);
    --mat-sys-primary-fixed-dim: rgb(0, 116, 186, .15);
    --mat-sys-secondary: rgb(71, 215, 188);
    --mat-sys-secondary-fixed-dim: rgb(71, 215, 188, .15);
    --mat-sys-tertiary: rgb(71, 215, 188)
}

html .cyan_theme {
    --mat-sys-primary: rgb(0, 185, 192);
    --mat-sys-primary-fixed-dim: rgb(0, 185, 192, .15);
    --mat-sys-secondary: rgb(244, 139, 108);
    --mat-sys-secondary-fixed-dim: rgb(244, 139, 108, .15);
    --mat-sys-tertiary: rgb(244, 139, 108)
}

html .green_theme {
    --mat-sys-primary: rgb(6, 118, 154);
    --mat-sys-primary-fixed-dim: rgb(6, 118, 154, .15);
    --mat-sys-secondary: rgb(195, 208, 70);
    --mat-sys-secondary-fixed-dim: rgb(195, 208, 70, .15);
    --mat-sys-tertiary: rgb(195, 208, 70)
}

html .purple_theme {
    --mat-sys-primary: rgb(110, 53, 183);
    --mat-sys-primary-fixed-dim: rgb(110, 53, 183, .15);
    --mat-sys-secondary: rgb(139, 200, 206);
    --mat-sys-secondary-fixed-dim: rgb(139, 200, 206, .15);
    --mat-sys-tertiary: rgb(139, 200, 206)
}


html .light-theme {
    color-scheme: light;
    --mat-sys-corner-small: 7px;
    --mat-sys-background: #fff;
    --mat-sys-surface-bright: #f2f6fa;
    --mat-sys-surface: #fff;
    --mat-sys-surface-container: #fff;
    --mat-sys-surface-container-low: #fff;
    --mat-sys-on-background: #2a3547;
    --mat-sys-outline: #d7dde2;
    --mat-sys-outline-variant: #d7dde2;
    --mat-form-field-outlined-hover-outline-color: #d7dde2;
    --mat-checkbox-unselected-hover-state-layer-color: #d7dde2;
    --mat-menu-item-hover-state-layer-color: #f6f9fc;
    --mat-option-focus-state-layer-color: #f6f9fc;
    --mat-option-hover-state-layer-color: #f6f9fc;
    --mat-slide-toggle-unselected-track-color: #f6f9fc;
    --mat-stepper-header-focus-state-layer-color: #f6f9fc;
    --mat-stepper-header-hover-state-layer-color: #f6f9fc;
    --mat-dialog-supporting-text-color: var(--mat-sys-on-background);
    --mat-expansion-header-hover-state-layer-color: #f6f9fc
}

html .dark-theme {
    color-scheme: dark;
    --mat-sys-background: #141a21;
    --mat-sys-on-background: rgba(255, 255, 255, .9);
    --mat-sys-on-primary: #fff;
    --mat-sys-surface-bright: #ffffff05;
    --mat-sys-surface: #141a21;
    --mat-sys-surface-container: #141a21;
    --mat-sys-surface-container-low: #141a21;
    --mat-sys-outline-variant: #2e3f50;
    --mat-sys-outline: #2e3f50;
    --mat-form-field-outlined-hover-outline-color: #465670;
    --mat-checkbox-unselected-hover-state-layer-color: #19212a;
    --mat-menu-item-hover-state-layer-color: #19212a;
    --mat-option-focus-state-layer-color: #19212a;
    --mat-option-hover-state-layer-color: #19212a;
    --mat-slide-toggle-unselected-track-color: #19212a;
    --mat-stepper-header-focus-state-layer-color: #19212a;
    --mat-stepper-header-hover-state-layer-color: #19212a;
    --mat-expansion-header-hover-state-layer-color: #19212a;
    --mat-card-elevated-container-color: #1c252e;
    --mat-card-elevated-container-elevation: rgba(0, 0, 0, .2) 0px 0px 2px 0px;
    --mat-card-subtitle-text-color: rgba(255, 255, 255, .67);
    --mat-sys-level1: 0px 12px 24px -4px rgba(143, 176, 210, .02);
    --mat-sys-level2: 0px 12px 24px -4px rgba(143, 176, 210, .02);
    --mat-sys-level3: 0px 12px 24px -4px rgba(143, 176, 210, .02)
}

html .bg-primary {
    background-color: var(--mat-sys-primary)!important
}

html .text-primary {
    color: var(--mat-sys-primary)!important
}

html .bg-secondary {
    background-color: var(--mat-sys-secondary)!important
}

html .text-secondary {
    color: var(--mat-sys-secondary)!important
}

html .bg-success {
    background-color: #13deb9!important
}

html .text-success {
    color: #13deb9!important
}

html .bg-warning {
    background-color: #ffae1f!important
}

html .text-warning {
    color: #ffae1f!important
}

html .bg-error {
    background-color: var(--mat-sys-error)!important
}

html .text-error {
    color: var(--mat-sys-error)!important
}

html .bg-white {
    background-color: #fff!important
}

html .text-white {
    color: #fff!important
}

html .bg-light {
    background-color: var(--mat-sys-surface-bright)!important
}

html .text-light {
    color: var(--mat-sys-surface-bright)!important
}

html .bg-light-error {
    background-color: rgba(247, 68, 86, .15) !important//var(--mat-sys-error-fixed-dim)!important
}

html .text-light-error {
    color: var(--mat-sys-error-fixed-dim)!important
}

html .bg-light-secondary {
    background-color: var(--mat-sys-secondary-fixed-dim)!important
}

html .text-light-secondary {
    color: var(--mat-sys-secondary-fixed-dim)!important
}

html .bg-light-success {
    background-color: #13deb940!important
}

html .text-light-success {
    color: #13deb940!important
}

html .bg-light-warning {
    background-color: #ffad1f40!important
}

html .text-light-warning {
    color: #ffad1f40!important
}

html .bg-light-primary {
    background-color: var(--mat-sys-primary-fixed-dim)!important;
}

html .text-light-primary {
    color: var(--mat-sys-primary-fixed-dim)!important
}

